.App {
  font-family: 'Roboto', 'sans-serif';
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  padding: 20px;
  text-align: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-title-container {
  margin: auto;
  width: 50%;
}

.App-content {
  width: 100%;
}
.App-content-container {
  display: flex;
  flex-direction: row;

  min-height: 400px;
}

.Menu-icon-container {
  cursor: pointer;
  float: left;
}

