.App {
  font-family: 'Roboto', 'sans-serif';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.App-primary-container {
  display: flex;
  overflow: hidden;
  margin: auto;
  padding: 20px;
  width: 100%;
}

.App-navigation-menu {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: space-around;
  width: 100%;
}

.App-title {
  color: white;
}

.App-content {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.App-content-container {
  display: flex;
  flex-direction: row;
  min-height: 300px;
  padding: 20px;
  width: 50%;
}

.Cover-page-container {
  width: 50%;
}

