.App {
  font-family: 'Roboto', 'sans-serif';
}

.App-cover {
  display: flex;
  overflow: hidden;
  margin: auto;
  padding: 20px;
}

.App-cover-container {
  justify-content: center;
  overflow: hidden;
  width: 50%;
}

.App-header {
  background: black;
}

.App-header-link {
  color: white;
}

.App-header-menu {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: space-around;
}

.App-title {
  color: white;
}

.App-detail-container {
  min-height: 300px;
  width: 50%;
  padding: 20px;
}

.App-content-container {
  display: flex;
  flex-direction: row;
}

