.Cover-page {
  height: 100%;
}

.Cover-page-blurb {
  padding: 20px;
}

.Cover-page-footer {
  height: 50%;
}

.Cover-page-header {
  height: 50%;
  overflow: hidden;
}

.Cover-page-image {
  position: relative;
}

.Cover-image {
  margin: auto;
  position: absolute;
  top: -100%;
  bottom: -100%;
  left: -100%;
  right: -100%;
}

