.SectionGridCol {
  padding-left: 0px;
  padding-right: 0px;
  height: 200px;
  overflow: hidden;
}

.SectionGridImage {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
}

