.App {
  font-family: 'Roboto', 'sans-serif';
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  color: white;
  background-color: #222;
  padding: 20px;
  text-align: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-container {
  display: flex;
  flex-direction: row;

  min-height: 400px;

  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

.App-index {
  max-width: 320px;
  text-align: left;
  width: 25%;
}

.App-content {
  width: 75%
}

